{{ template "header.html" . }}
<h1>Add</h1>


<div class="panel panel-default col-sm-6">
  <div class="panel-body">
    <form class="form" action="/atm/add" method="POST">
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" placeholder="location">
      </div>
      <div class="form-group">
        <label for="bank">Bank</label>
        <input type="bank" class="form-control" id="bank" name="bank" placeholder="Bank">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="city" class="form-control" id="city" name="city" placeholder="City">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>  


{{ template "footer.html" .}}
