{{ template "header.html" .}}
<h2>Add ATMS which are dispensing cash</h2>
<p>Entries are sorted by the time stamp of people validating, so if it works please click validate</p>
<div class="container">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th>Location</th>
              <th>Bank</th>
              <th>City</th>
              <th>Updated</th>
          </tr>
      </thead>
    <tbody>
  {{range .payload }}
  <tr class='clickable-row' data-href='/atm/view/{{.Id}}'>
      <td>{{.Location}}</td>
      <td>{{.Bank}}</td>
      <td>{{.City}}</td>
      <td>{{.UpdatedAt}}</td>
  </tr>
  {{end}}
    </tbody>
</table>
</div>
<script type="text/javascript">
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>

<style type="text/css">

.clickable-row{
    cursor:pointer;
}
</style>

{{ template "footer.html" .}}
