{{ template "header.html" .}}
<h2>Add ATMS which are dispensing cash</h2>
<p>Entries are sorted by the time stamp of people validating, so if it works please click validate</p>

<div class="container atm--listing">
  <input class="search" results=5 placeholder="Search..." name='q' autofocus />

  <table class="table table-bordered">
      <thead>
          <tr>
              <th>Location</th>
              <th>City</th>
              <th>Bank</th>
              <th>Updated</th>
          </tr>
      </thead>
    <tbody>
  {{range .payload }}
  <tr class='clickable-row' data-href='/atm/view/{{.Id}}'>
      <td>{{.Location}}</td>
      <td>{{.Bank}}</td>
      <td>{{.City}}</td>
      <td><time class='atm--updated-at' data-value='{{.UpdatedAt}}'>{{.UpdatedAt}}</time></td>
  </tr>
  {{end}}
    </tbody>
</table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
<script>
$(document).ready(function($) {
    // make table searchable
    $('input.search').quicksearch('table tbody tr');

    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });

    // Make time displayed relative
    $('.atm--updated-at').each(function(){
      var time = $(this).data('value');
      $(this).html(moment(time, 'YYYY-MM-DD HH:mm:ss Z').fromNow());
    });
});
</script>

<style type="text/css">
.clickable-row{
    cursor:pointer;
}
</style>

{{ template "footer.html" .}}
